<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    <import resource="infra.xml"/>-->

<!--    <context:component-scan base-package="com.maxhayday.cw.cw06.real_spring"/>-->

<!--    <context:property-placeholder location="classpath:application.properties"/>-->

    <!--    <bean id="soldier" class="com.maxhayday.cw.cw06.real_spring.quoters.Main">-->
    <!--        <property name="age" value="12"/>-->
    <!--    </bean>-->


    <!--    <bean id="shakeSpearQuoter" class="com.maxhayday.cw.cw06.real_spring.quoters.business.ShakeSpearQuoter">-->
    <!--    </bean>-->
    <!--    <bean id="terminatorQuoter" class="com.maxhayday.cw.cw06.real_spring.quoters.business.TerminatorQuoter">-->
    <!--    </bean>-->
    <!--    <bean class="com.maxhayday.cw.cw06.real_spring.quoters.business.TalkingRobotImpl"/>-->


    <!--    <bean id="soldier" class="com.maxhayday.cw.cw06.real_spring.quoters.Main">-->
    <!--        <property name="age" value="12">-->

    <!--        </property>-->
    <!--    </bean>-->


    <!--    <bean id="string" class="java.lang.String">-->
    <!--        <constructor-arg value="Trust Me"/>-->
    <!--    </bean>-->
</beans>