<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="soldier" class="com.maxhayday.cw.cw06.real_spring.Soldier">
        <property name="age" value="12"/>
    </bean>
    <bean id="shakeSpearQuoter" class="com.maxhayday.cw.cw06.real_spring.quoter.ShakeSpearQuoter">
        <property name="message" value="Be of not to Be"/>
    </bean>
    <bean id="terminatorQuoter" class="com.maxhayday.cw.cw06.real_spring.quoter.TerminatorQuoter">
        <property name="messages">
            <list>
                <value>I`ll be back</value>
                <value>Astalavista baby</value>
            </list>
        </property>
    </bean>

</beans>